<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>772290123232-5q9udd87q4r93ngf06ocuaresgbf9vf0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772290123232-5q9udd87q4r93ngf06ocuaresgbf9vf0</string>
	<key>API_KEY</key>
	<string>AIzaSyBq75PWlmWl8LEwNcYQzZUbpBLqT3LVeUc</string>
	<key>GCM_SENDER_ID</key>
	<string>772290123232</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lukemorse.KW-Install</string>
	<key>PROJECT_ID</key>
	<string>kw-install</string>
	<key>STORAGE_BUCKET</key>
	<string>kw-install.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772290123232:ios:f20baae08e19c1bf86c785</string>
	<key>DATABASE_URL</key>
	<string>https://kw-install.firebaseio.com</string>
</dict>
</plist>